<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.epitomecl.kmp.mapper.SecretShareMapper">

    <insert id="setSharingData">
		insert into sharing_data (
			userindex, label, shareddata
		)
		values(
			#{userindex}, #{label}, #{shareddata}
		)
	</insert>

    <select id="getSharingData" resultType="com.epitomecl.kmp.api.domain.SecretSharingVO">
        select
  	        userindex,
  	        label,
  	        shareddata
        from
			sharing_data
        where userindex = #{userindex} and label = #{label}
    </select>

	<select id="getSharingDataList" resultType="java.lang.String">
        select
  	        label
        from
			sharing_data
        where userindex = #{userindex}
    </select>

</mapper>
