<div style="height: 100vh;">
  <mat-toolbar color="primary">
    <span>KMP</span>
    <span class="example-spacer"></span>
    <div fxShow fxHide.lt-md>
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <button mat-button routerLink="/dashboard">Funds</button>
      <button mat-button routerLink="/dashboard">Trade</button>
      <button mat-button routerLink="/dashboard">Markets</button>

      <button mat-button [matMenuTriggerFor]="menu1">Bots</button>
    </div>
    <div fxShow fxHide.gt-sm>
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
        <a href="#" mat-button>Menu Item 1</a>
        <a href="#" mat-button>Menu Item 2</a>
        <a href="#" mat-button>Menu Item 3</a>
        <a href="#" mat-button>Menu Item 4</a>
        <a href="#" mat-button>Menu Item 5</a>
        <a href="#" mat-button>Menu Item 6</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      aaa
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-menu #menu1="matMenu">
    <button mat-menu-item routerLink="/dashboard">Bot1</button>
    <button mat-menu-item routerLink="/dashboard">Report</button>
  </mat-menu>

</div>
